body {
    background-color: lightgoldenrodyellow;
}

.nav_ul {
    list-style-type: none;
}

.nav_li {
    padding: 8px 12px;
    border: 2px solid darkblue;
    background-color: darkgoldenrod;
    display: inline;
    margin: 0px;
}

.nav_a {
    text-decoration: none;
}